<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
</head>
<body>
    <h1>{{{ title }}}</h1>
    {{!-- {{{ contents }}} --}}

    {{#each collections.chapters }}  
        {{!-- {{{title}}}       --}}
		{{{contents}}}
		<div class="chapter-divider"></div>
	{{/each}}
</body>
</html>
